.h1{
    background-color: rgb(61, 61, 61);
    text-align: center;
}

.card{
    background-color: black;
    border-color: aliceblue;
}

li{
    color: aliceblue;
}

h5{
    color: aliceblue;
}   

.card-footer{
    color: aliceblue;
}

.Caballeria{
    width: 210px;
    height: 229px;
}